/*
 * Paper v2.0
 * A simple & clean hugo theme
 * Designed by 21beats (http://21beats.com)
 * Updated in 2018.8.16
 */

/* Reset
============================================================= */
*,
*::before,
*::after {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(57, 54, 45, 0.25);
  border-radius: 3px;
}
html {
  font-size: 20px;
  -webkit-tap-highlight-color: transparent;
}
article, aside, footer, header, main, nav, section {
  display: block;
}
body {
  background-color: white;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: rgba(0, 0, 0, .8);
  font-weight: 400;
  line-height: 1.5;
}

h1, h2, h3, h4, h5 {
  font-family: 'Libre Baskerville', serif;
  font-weight: inherit;
}

p {
  font-size: 1em;
  line-height: 1.5em;
  margin: 1.5em 0 1.5em 0;
}
ul {
  margin: 0;
  padding: 0;
}
a, a:link, a:visited, a:hover {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}
button, input, textarea {
  -webkit-appearance: none;
  padding: 0;
  font: inherit;
  background: transparent;
  border: 0;
  outline: 0;
}
button, input[type=button], input[type=submit] {
  cursor: pointer;
}
pre, code {
  font-family: Menlo, Consolas, monospace;
  font-size: inherit;
}
/* Body
============================================================= */
.list {
  background: #f9f9f9;
}
/* Header
============================================================= */
.header {
  display: flex;
  justify-content: space-between;
  height: 65px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 65px;
}
.home .header {
  background: #fff;
}
.title a {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 700;
}
.noscroll {
  overflow: hidden;
}
.menu-toggle {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;
  width: 80px;
  height: 65px;
}
.menu-toggle::before,
.menu-toggle::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 2px;
  background: #000;
}
.menu-toggle::before {
  transform: translate3d(-50%, -5px, 0);
}
.menu-toggle::after {
  transform: translate3d(-50%, 5px, 0);
}
.noscroll .menu-toggle::before {
  transform: translate3d(-50%, -1px, 0) rotateZ(45deg);
}
.noscroll .menu-toggle::after {
  transform: translate3d(-50%, -1px, 0) rotateZ(-45deg);
}
.menu {
  display: none;
}
.noscroll .menu {
  display: block;
}
.menu ul {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.menu li {
  width: 100%;
  margin-left: 0;
}
.menu a {
  font-size: 1em;
}
/* Main
======================================================================= */
.main {
  min-height: calc(100vh - 130px);
  overflow: hidden;
}
.list-header,
.first-entry > *,
.post-entry,
.list-footer {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.list .main {
  padding-bottom: 30px;
}
.list-header,
.list-footer {
  padding-left: 30px;
  padding-right: 30px;
}
.list-header {
  margin-top: 30px;
  margin-bottom: 30px;
}
.list-footer {
  margin-top: 30px;
}
.single .main {
  padding-top: 0px;
  padding-bottom: 0px;
}
.post-view {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  .main {
    min-height: calc(100vh - 155px);
  }
  .list-header,
  .first-entry > *,
  .post-entry,
  .list-footer,
  .post-view {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}
/* List header
------------------------------ */
.list-header span {
  color: rgba(0, 0, 0, .4);
  font-size: 0.6em;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.list-title {
  font-size: 2.5em;
}
/* Post
------------------------------ */
.post-meta {
  margin-top: 8px;
  color: rgba(0, 0, 0, .4);
  font-size: 16px;
  letter-spacing: .5px;
}
/* First entry */
.first-entry {
  position: relative;
  min-height: calc(100vh - 65px - 80px);
  margin-bottom: 80px;
  padding-top: 20vh;
  padding-bottom: 20vh;
  background-color: #fff;
  background-position: center;
  background-size: cover;
}

.welcome-emoji {
  font-size: 60px;
  line-height: 1;
}
.first-entry .post-title {
  font-size: 2.5em;
  transform: translateX(-3px);
}
.first-entry .post-summary {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1em;
  line-height: 1.5em;
}

.first-entry .post-summary span {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 0.15em 0 0.15em 0;
}

.post-title {
  transform: translateX(-2px);
}
.post-summary {
  margin-top: 10px;
  color: rgba(0, 0, 0, .7);
  font-size: 18px;
}
/* Post entry */
.post-entry {
  position: relative;
  padding: 30px;
  background: #fff;
  border-radius: 6px;
}
.post-entry:active {
  transform: scale(.98);
  transition: transform .1s;
}
.post-entry + .post-entry {
  margin-top: 25px;
}
.post-entry:first-child {
  margin-top: 40px;
}
.post-entry:hover {
  box-shadow: 0 5px 40px -5px rgba(0, 0, 0, .1);
}

.post-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* Post view */
.post-hero {
  position: relative;
  min-height: calc(100vh - 65px - 80px);
  padding-top: 12vh;
  padding-bottom: 12vh;
  background-color: #fff;
  background-position: center;
  background-size: cover;
}

.post-hero-fitpost {
  position: relative;
  min-height: calc(10vh);
  padding-top: 12vh;
  padding-bottom: 12vh;
  background-color: #fff;
  background-position: center;
  background-size: cover;
}

.post-content {
  word-wrap: break-word;
}

h1 {
  font-size: 3.052em;
  line-height: 0.982961992136304em;
  margin-bottom: 0.982961992136304em;
  margin-top: 0.982961992136304em;
}

h2 {
  font-size: 2.441em;
  line-height: 1.229004506349856em;
  margin-bottom: 1.229004506349856em;
  margin-top: 1.229004506349856em;
}

h3 {
  font-size: 1.953em;
  line-height: 1.536098310291859em;
  margin-top: 0.768049155145929em;
  margin-bottom: 0.768049155145929em;
}

h4 {
  font-size: 1.563em;
  line-height: 0.959692898272553em;
  margin-top: 0.959692898272553em;
  margin-bottom: 0.959692898272553em;
}

h5 {
  font-size: 1.25em;
  line-height: 1.2em;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

.post-content a {
  padding-bottom: 2px;
  border-bottom: 1.5px solid rgba(0, 0, 0, .8);
}

.post-content ul,
.post-content ol {
  padding-left: 20px;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}
.post-content li {
  margin-bottom: 0;
}
.post-content li > ul,
.post-content li > ol {
  margin-top: 1.5em;
}
.post-content dl {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
.post-content dt {
  width: 25%;
  font-weight: 700;
}
.post-content dd {
  width: 75%;
  margin-left: 0;
  padding-left: 10px;
}
.post-content dt ~ dt,
.post-content dd ~ dd {
  margin-top: 10px;
}
.post-content pre,
.post-content table {
  margin-top: 30px;
  margin-bottom: 30px;
}
.post-content table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.post-content th,
.post-content td {
  padding: 12px;
  border: 1px solid #eee;
}
.post-content th {
  text-align: left;
}
.post-content pre code {
  padding: 20px;
  border-radius: 6px;
}
.post-content code {
  padding: 3px 6px;
  font-size: 0.75em;
  white-space: pre-wrap;
  border-radius: 3px;
}
.post-content blockquote {
  margin: 0 0 0 -23px;
  padding: 0 0 0 20px;
  color: rgba(0, 0, 0, .6);
  font-style: italic;
  border-left: 3px solid rgba(0, 0, 0, .8);
}
.post-content hr {
  margin-top: 70px;
  margin-bottom: 70px;
  border: solid rgba(0, 0, 0, .1);
  border-width: 1px 0 0;
}
.post-content iframe {
  max-width: 100%;
}
.post-view .post-tags {
  margin-bottom: 30px;
}
.post-tags li {
  display: inline-block;
}
.post-tags a {
  display: block;
  padding: 6px 16px;
  color: rgba(0, 0, 0, .6);
  font-size: 16px;
  background: #f5f5f5;
  border-radius: 3px;
}
.post-tags li + li {
  margin-left: 3px;
}
.post-tags a:hover {
  background: #eee;
}
@media (max-width: 767px) {
  .post-content blockquote {
    margin: 0 0 0 -30px;
    padding: 0 0 0 27px;
  }
}
/* List footer
------------------------------ */
.pagination {
  display: flex;
  overflow: hidden;
}
.pagination a {
  display: block;
  line-height: 30px;
}
.pagination-next {
  margin-left: auto;
}
/* 404
------------------------------ */
.not-found {
  text-align: center;
  font-size: 180px;
  font-weight: 700;
  line-height: calc(100vh - 300px);
}
/* Footer
======================================================================= */
.footer {
  padding: 20px;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
}
.footer span {
  margin-left: 2px;
  margin-right: 2px;
}
.footer a:hover {
  text-decoration: underline;
}
@media (max-width: 767px) {
  .footer span:last-child {
    display: block;
  }
  .footer span:nth-child(4) {
    display: none;
  }
}

/* Highlight
------------------------------ */
.post-content pre code {
  display: block;
}
.post-content table code {
  padding-top: 0;
  padding-bottom: 0;
}
.post-content pre {
  margin: 30px 0px;
  border-radius: 6px;
}
.post-content table pre {
  margin: 20px 0px;
}
.highlight table {
  margin: 30px 0 !important;
}
.highlight div {
  border-radius: 6px;
}
.post-content table code {
  white-space: pre;
}
.highlight td:nth-child(2) {
  width: 100%;
}

/* Unflavored code fences
------------------------------ */
code {
  padding: 20px;
}
pre {
  border-radius: 6px;
  background-color: #272822;
  color: white;
}

/* Anchors */
p a {
  cursor: pointer;
}


/* Gallery by pan Chrenko
----------------------------- */
.g-row {
  display: inline-flex;
  flex-wrap: wrap;

  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  margin-top: 1.5em;
}

.g-row-fitpost {
  display: inline-flex;
  flex-wrap: wrap;
  position: relative;
  margin-top: 1.5em;
}

.g-row-halfpost {
  display: inline-flex;
  flex-wrap: wrap;
  position: relative;
  max-width: 50%;
  flex: 50%;
  float: left;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  margin-right: 1.5em;
}

.g-col-1 {
  flex: 100%;
  max-width: 100%;
  overflow: hidden;
}

.g-col-2 {
  flex: 50%;
  max-width: 50%;
  overflow: hidden;
}

.g-col-2:nth-child(1) {
  padding-right: 0.5em;
}

.g-col-2:nth-child(2) {
  padding-left: 0.5em;
}

.g-col-3 {
  flex: 33.333%;
  max-width: 33.333%;
  overflow: hidden;
}

.g-col-3:nth-child(1) {
  padding-right: 0.5em;
}

.g-col-3:nth-child(2) {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.g-col-3:nth-child(3) {
  padding-left: 0.5em;
}

.g-col-4 {
  flex: 25%;
  max-width: 25%;
  overflow: hidden;
}

.g-col-5 {
  flex: 20%;
  max-width: 20%;
  overflow: hidden;
}

.g-col-1 img, .g-col-2 img, .g-col-3 img, .g-col-4 img, .g-col-5 img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  object-fit: cover;
}

.g-col-1 img:hover, .g-col-2 img:hover, .g-col-3 img:hover, .g-col-4 img:hover, .g-col-5 img:hover{
  cursor: zoom-in;
}

/* Responsive layout - makes a one column-layout instead of two columns */
@media screen and (max-width: 800px) {
  .g-col-1,
  .g-col-2,
  .g-col-3,
  .g-col-4,
  .g-col-5 {
    flex: 100%;
    max-width: 100%;
  }

  .g-col-2:nth-child(1) {
    padding-right: 0;
    margin-bottom: 1.5em;
  }
  .g-col-2:nth-child(2) {
    padding-left: 0;
  }

  .g-col-3:nth-child(1) {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 1.5em;
  }
  .g-col-3:nth-child(2) {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 1.5em;
  }
  .g-col-3:nth-child(3) {
    padding-left: 0;
    padding-right: 0;
  }

}

.post-hero-santiago {
  position: relative;
  min-height: calc(80vh - 65px - 80px);
  padding-top: 12vh;
  padding-bottom: 12vh;
  background-color: #fff;
  background-position: center;
  background-size: cover;
}

/* Fullscreen gallery by pan Chrenko
-------------------------------------- */
#gallery-container {
  width: calc(100vw - 6px);
  height: 100vh;
  position: absolute;
  background-color: white;
  left: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: none;
}

#gallery-image {
  left:0;
  right:0;
  top:0;
  bottom:0;
  position: absolute;
  margin: auto;
  max-width:calc(100vw - 6px);
  max-height: 100vh;
  cursor: zoom-out;
}

.g-desc {
  font-size: 0.6em;
  padding: 0.6em;
  background-color: rgba(255, 255, 255, .9);
  position: absolute;
  bottom: 0;
  opacity: 0;
  min-width: 0;
  max-width: inherit;

  transition: opacity .2s ease-in;
  -webkit-transition: opacity .2s ease-in;
}

.g-desc-fullscreen {
  font-size: .8em;
  padding: 1em 8em;
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  bottom: 0;
  opacity: 0;
  width: 100vw;
  text-align: center;

  transition: opacity .2s ease-in;
  -webkit-transition: opacity .2s ease-in;
}

/* Sharing view */
.share-view {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.share-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1.5em;
}

@media screen and (max-width: 800px) {
  .share-container p {
    flex: 100%;
    max-width: 100%;
  }
}

.footer-santiago {
  margin-top: 3em;
}
