{{ partial "header.html" . }}

<div class="post-hero-santiago"
  {{ $heroImage := (.Page.Resources.GetMatch  .Params.heroImage) }}
  style="background-image: url('{{ $heroImage.Permalink }}')">
</div>

<article class="post post-view">
  <header class="post-header">
    <h1 class="post-title">{{ .Title }}</h1>
    <p class="post-meta">
      {{- .Date.Format "2.1.2006" -}}
    </p>
  </header>

  <div class="post-content">{{ .Content }}</div>

  <footer class="post-footer footer-santiago">
    {{ if .Params.tags }}
    <ul class="post-tags">
      {{ range .Params.tags }}
      <li><a href="{{$.Site.BaseURL}}tags/{{ . | urlize }}/">{{ . }}</a></li>
      {{ end }}
    </ul>
    {{ end }}
  </footer>


</article>
{{ partial "share.html" . }}
{{ partial "footer.html" . }}
