</main>
<footer class="footer">
  <span>&copy; {{ now.Year }} {{ .Site.Title }}</span>
  <span>&middot;</span>
  <span>Powered by <a href="https://gohugo.io/" rel="noopener" target="_blank">Hugo️️</a>️</span>
</footer>
<script src="{{.Site.BaseURL}}js/instantclick.min.js" data-no-instant></script>
<script data-no-instant>InstantClick.init();</script>
<script src="{{.Site.BaseURL}}js/galerka.js" data-no-instant></script>
<script src="{{.Site.BaseURL}}js/highlight.min.js" data-no-instant></script>
<script data-no-instant>
  addMenuListener();
  InstantClick.on('change', function() {
    addMenuListener();
  });
  function addMenuListener() {
    var $toggle = document.querySelector('.menu-toggle');
    var $body = document.querySelector('body');
    $toggle.addEventListener('click', function() {
      $body.classList.toggle('noscroll');
    }, false);
  }
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-104392134-1" no-data-instant></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  function pushGtag() {
    gtag('js', new Date());
    gtag('config', 'UA-104392134-1', {
      'page_title' : document.title,
      'page_path': window.location.pathname
    });
  }
  pushGtag();
  InstantClick.on('change', function() {
    pushGtag();
  });

</script>

</body>
</html>
